body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
}
figure {
    margin: 0;
}
img {
    max-width: 100%;
}
a {
    color: #269bf0;
}
a:hover {
    color: #92ccf7;
    text-decoration: none;
}
a:active {
    color: #f09425;
}
nav {
    height: 100px;
}
nav .nav-elems {
    margin: 0 200px;
}
nav figure {
    width: 100px;
}
nav figure img {
    margin-top: 5px;
}
nav #lower-nav-elems {
    height: 50px;
    width: 100%;
}
#light-grey-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.05);
}
.crust {
    display: flex;
    height: 60px;
    gap: 0 10px;
    align-items: center;
    font-size: 12px;
    color: gray;
}
.crust a {
    color: gray;
    text-decoration: none;
}
.crust a:hover {
    color: unset;
    text-decoration: underline;
}
.crust a:active {
    color: unset;
}
.crust > * {
    display: inline;
}
main {
    margin: 0 200px 0;
}
h1 {
    margin: 40px 0 20px !important;
    color: #0b4dc7;
    font-size: 26px;
    font-weight: 700;
    line-height: 150%;
}

h2 {
    font-size: 14px;
    color: #778898;
    padding-bottom: 6px;
    margin: 0;
    line-height: 160%;
}
h3 {
    font-size: 13px;
    font-weight: 700;
    color: #0b4dc7;
}
p {
    font-size: 14px;
    color: #778898;
    margin: 0 0 20px;
}
section {
    margin: 0 0 38px;
}
header p {
    margin-bottom: 40px;
}
footer {
    padding: 25px 0;
    background-color: #EBF4FC;
}
.footer-elems {
    margin: 0 200px;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px 0;
}
.footer-elems > * {
    display: flex;
}
.footer-text {
    flex: 0 1 30%;
    min-width: min-content;
    padding-right: 10px;
}
footer table {
    border-collapse: collapse;
    border-spacing: 0;
}
footer table td {
    color: #778898;
    border: 3px solid #778898;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
}
.no-borders {
    border: none;
}
.image figure {
    width: 500px;
}

@media only screen and (max-width: 860px) {
    .iframe {
        display: none;
    }
}

@media only screen and (max-width: 730px) {
    .crust {
        display: none;
    }
    header figure {
        display: none;
    }
    nav .nav-elems {
        margin: 0 10%;
    }
    main {
        margin: 10%;
    }
    .footer-elems {
        margin: 10%;
    }
    .footer-elems > * {
        flex-flow: column;
    }
}

@media only screen and (max-width: 580px) {
    .image figure {
        width: 90%
    }
}