@font-face {
    font-family: 'Munchkin';
    src: url('./munchkin.ttf') format('truetype');
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem 0;
    background-color: wheat;
    margin: 2rem;
}

h1 {
    font-family: 'Munchkin', sans-serif;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.links-list {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;
}

.links-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    font-size: 1.2rem;
    border: 2px solid teal;
    border-radius: 0.7rem;
    box-shadow: 0 4px teal;
    color: teal;
    background-color: white;
    text-decoration: none;
    text-align: center;
}

.links-list a:hover {
    color: white;
    background-color: teal;
    box-shadow: 0 4px white;
}

.links-list a:active {
    box-shadow: none;
    position: relative;
    top: 4px;
}

@media only screen and (max-width: 1000px) {
    .links-list {
        width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    .links-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .links-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .links-list {
        grid-template-columns: repeat(1, 1fr);
    }
}